.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Rubik", sans-serif;
}
.head-area {
  background-image: url("./images/pattern-bg.png");
  background-position: center center;
  width: 100vw;
  height: 15rem;
  position: relative;
}
.head-input {
  display: inline;
}
.head-input-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.head-input-text {
  padding: 1rem;
  width: 250px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}
.head-input-button {
  background-color: black;
  outline: none;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem;
}

.head-details {
  width: 90%;
  margin: 2rem auto 0;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
}

.details-item {
  padding: 1rem;
  margin: 0 auto;
}

.item-type {
  font-size: 0.8rem;
  font-weight: bold;
  color: hsl(0, 0%, 59%);
}

.item-value {
  font-size: 1.5rem;
  font-weight: bold;
  color: hsl(0, 0%, 17%);
}

.leaflet-container {
  height: calc(-13rem + 100vh);
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .head-input-icon {
    padding: 0.9rem 1rem 0.8rem;
  }
  .head-details {
    display: flex;
    height: 150px;
  }
  .details-item {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    max-width: 300px;
    padding-top: 0;
  }
  .brdr {
    border-left: lightgray solid 1px;
  }
}
